.problem {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    padding-left: 18%;
}

#problemText {
    padding-top: 1cm;
    padding-left: 18%;
    background-color: #DADADA;
}

.solution {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    padding-left: 18%;
}

#solutionText {
    padding-top: 1cm;
    padding-left: 18%;
    background-color: #DADADA;
}


/*---------------------Solution images----------------------*/

#responsiveImg {
    max-width: 100%;
    height: auto;
    padding-left: 18%;
}


/*---------------------End of solution images------------------*/